@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
}

.container {
    position: relative;
    min-width: 1190px;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.center-area {
    position: absolute;
}

.center-area img {
    margin: 0 auto;
    width: 205px;
    height: 200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -1em;
    margin-top: 10em;
}

.center-area h3 {
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    color: #4c4c4c;
}

.center-area input {
    height: 2.545455em;
    width: 100%;
    z-index: 1;
    margin-top: 3em;
    outline: none;
    border: 0;
    -webkit-box-shadow: 0.1px 0.1px 2px 0.1px gray;
    box-shadow: 0.1px 0.1px 2px 0.1px gray;
}

.center-area i {
    display: inline-block;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 2.3em;
    margin-left: -2.5em;
    line-height: 1.5;
    color: #999;
    font-size: 1.25em;
    border-radius: 0 4px 4px 0;
    min-width: 50px;
    height: auto;
    min-height: 1.8em;
    text-align: center;
}

.center-area i:hover {
    background-color: #66ad57;
    color: white;
}

.center-area h4 {
    text-align: center;
    color: #9a9a9a;
    font-weight: normal;
    margin-top: 1.5em;
}

.center-area a {
    text-decoration: none;
    color: #4495d4;
}

.center-area a:hover {
    text-decoration: underline;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 2rem;
}

.sandwitch {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 2px;
    margin-right: 5em;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: #a5a5a5;
    margin: 3px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav-link {
    text-decoration: none;
    color: #a5a5a5;
}

.nav-link-text {
    margin-left: 3rem;
}

.arrow {
    margin-right: 10rem;
}

.twitter {
    font-size: 1.3rem;
}

.nav-link:hover,
.nal-link-text:hover,
.arrow:hover,
.twitter:hover {
    color: #6d6d6d;
}

.sandwitch:hover {
    background-color: #6d6d6d;
    padding: 5px;
    margin-top: -5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* PopUp */
/* Popup container - can be anything you want */
.hide {
    display: none;
}

.popuptext {
    width: 130px;
    background-color: rgba(138, 138, 138, 0.9);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 48%;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(138, 138, 138, 0.9) transparent transparent transparent;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.show {
    display: block;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Drop Down Privacy and Socials Links And Collapsible nav*/
.privacy-div {
    width: 500px;
    background-color: #fff;
    padding: 11px 19px;
    -webkit-box-shadow: 1px 1px 2px 0.8px #ddd;
    box-shadow: 1px 1px 10px 0.8px #ddd;
    position: absolute;
    margin-top: -30rem;
    right: 7%;
}

.main1 {
    padding: 5px;
}

.main1 a {
    text-decoration: none;
    color: black;
    position: absolute;
    padding: 10px;
    margin-top: -10px;
}

.main1 a:hover {
    text-decoration: underline;
}

.main1 p {
    position: absolute;
    font-size: 0.8rem;
    color: #9a9a9a;
    padding-left: 3.4rem;
    margin-top: -24px;
    line-height: 1.5;
    max-width: 400px;
}

.one,
.two,
.three,
.four {
    padding: 20px;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
    background-color: #f7f7f7;
}

.main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    left: 3%;
}

.main2 i {
    font-size: 21px;
}

.main2 a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main2 a:hover {
    text-decoration: underline;
}

.small-one,
.small-two,
.small-three {
    padding: 15px;
}

/* Socials */
.socials {
    width: 110px;
    background-color: #fff;
    padding: 10px 10px;
    -webkit-box-shadow: 1px 1px 2px 0.8px #ddd;
    box-shadow: 1px 1px 10px 0.8px #ddd;
    position: absolute;
    margin-top: -30rem;
    right: 4%;
}

.socials i {
    font-size: 20px;
}

.socials a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    margin-left: 10px;
    font-weight: normal;
}

.socials a:hover {
    text-decoration: underline;
}

.tw,
.re,
.blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

/*Collapsible Nav */
.nav {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    padding: 10px 10px;
    -webkit-box-shadow: 1px 1px 2px 0.8px #ddd;
    box-shadow: 1px 1px 10px 0.8px #ddd;
    position: absolute;
    top: 0;
    right: 0;
}

.nav p {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #888;
    font-weight: normal;
    padding: 5px;
}

.closebtn {
    position: absolute;
    right: 15%;
    top: 1.5%;
    color: #888;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 0.85em;
    padding: 5px;
}

.nav a:hover {
    text-decoration: underline;
}
